
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0e0e0e;
    height:4.21875rem;
}
a{
    display: inline-block;
    height: 100%;
    width: 24%;
    text-align: center;
    color: white;
}
i{
    display: block;
    font-size: 1.5625rem;
    padding-top: .625rem;
}
 a span{
   font-size: .78125rem;
}